.chatcontent-ui {
  width: 1084px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.chatcontent-ui.mchat {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
.chatcontent-ui .texture-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../images/dest/texture.png");
  overflow: hidden;
}
.chatcontent-ui .texture {
  background-image: url("../images/dest/texture.png");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.chatcontent-ui .chatarea-ui {
  background: url("../images/dest/chat-front-bg.png") repeat-x;
  height: 397px;
}
.chatcontent-ui #content {
  float: left;
}
.chatcontent-ui .chatarea-right-controls {
  float: left;
  width: 320px;
  margin-left: 2px;
  margin-top: 3px;
}
.chatcontent-ui .chatarea-right-controls.mchat {
  width: 650px;
  margin-left: 0px;
  margin-top: 0px;
  background: #000;
  height: 353px;
}
.chatcontent-ui .settingsarea-ui {
  background: url("../images/dest/chat-settings-front-bg.png") repeat-x;
  height: 105px;
  position: relative;
}
.chatcontent-ui .settingsarea-ui .settingsarea-wrapper-ui {
  background: url("../images/dest/chat-settings-bg-image.png") left 2px no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chatarea {
  margin: 3px 0px 0px 3px;
}
.chatarea.mchat {
  margin: 0px;
  margin-left: 2px;
}
.chatarea .chatarea-content {
  background: url("../images/dest/chatarea-bg.png") no-repeat;
  position: relative;
  width: 756px;
  height: 353px;
}
.chatarea .chatarea-content.mchat {
  width: 432px;
}
.chatarea .chatarea-content .bg-image {
  position: absolute;
  left: 50%;
  margin-left: -99px;
  top: 50%;
  margin-top: -76px;
}
.chatarea .chatarea-content .content {
  width: 734px;
  height: 239px;
  overflow: auto;
  padding: 10px;
  color: #000;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  font-size: 14px;
}
.chatarea .chatarea-content .content .msg {
  font-style: italic;
}
.chatarea .chatarea-content .content.mchat {
  width: 432px;
}
.chatarea .chatarea-content .content .nickname {
  color: #af0000;
}
.chatarea .chatarea-content .content h1 {
  padding: 0px;
  margin: 0px;
}
.chatarea .chatarea-content .content p {
  padding: 0px;
  margin: 0px;
  line-height: 23px;
}
.chatarea .chatarea-input {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.5);
  width: 756px;
  height: 35px;
  margin-top: 2px;
}
.chatarea .chatarea-input.mchat {
  width: 432px;
}
.chatarea .chatarea-input input[type="text"] {
  margin: 0;
  padding: 0;
  width: 745px;
  height: 34px;
  padding-left: 10px;
  outline: none;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: inset 0px -3px 6px rgba(255, 255, 255, 0.09);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.chatarea .chatarea-input input[type="text"].mchat {
  width: 421px;
}
.topic {
  font-size: 14px;
}
.topic span {
  color: #676666;
}
