//all files
@import "sprites";
@import "variables";
@import "mixins";
@import "chat";
@import "widgets";
@import "mchat-navbar";
@import "emoticons";
//
body{
	background: @bodyBackgroundColor;
	color: @bodyTextColor;
	font-family: Arial, Helvetica, sans-serif;
}
