/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative;
}
.jspPane {
  position: absolute;
}
.jspVerticalBar {
  background: url("../images/dest/vertival-divider-bg.png") repeat-y right;
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
}
#chatarea-scrollbar .jspVerticalBar {
  background: none;
}
#mchatarea-scrollbar .jspVerticalBar {
  background: none;
}
.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}
.jspCap {
  display: none;
}
.jspHorizontalBar .jspCap {
  float: left;
}
.jspTrack {
  background: url("../images/dest/vertical-track.png") no-repeat 6px;
  position: relative;
}
#chatarea-scrollbar .jspTrack {
  background: url("../images/dest/chatarea-scrollbar/scroll-track.png") no-repeat 5px;
}
#mchatarea-scrollbar .jspTrack {
  background: url("../images/dest/chatarea-scrollbar/scroll-track.png") no-repeat 5px;
}
.jspDrag {
  background: url("../images/dest/vertical-drag.png") no-repeat -2px;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
#chatarea-scrollbar .jspDrag {
  background: url("../images/dest/chatarea-scrollbar/scroll-drag2.png") no-repeat -4px;
}
#mchatarea-scrollbar .jspDrag {
  background: url("../images/dest/chatarea-scrollbar/scroll-drag2.png") no-repeat -4px;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}
.jspVerticalBar .jspArrow {
  height: 16px;
}
.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}
.jspVerticalBar .jspArrow:focus {
  outline: none;
}
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}
.controlpanel-ui ul.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 46px;
  background: url("../images/dest/chat-seperator-top.png") bottom repeat-x;
  overflow: hidden;
}
.controlpanel-ui ul.nav.mchat {
  background: none;
}
.controlpanel-ui ul.nav li {
  float: left;
}
.controlpanel-ui ul.nav .sprite {
  margin-left: 15px;
  margin-top: 8px;
  opacity: 0.8;
}
.controlpanel-ui ul.nav .sprite:hover {
  opacity: 1;
}
.controlpanel-ui ul.nav-bottom {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 46px;
  background: url("../images/dest/chat-seperator-bottom.png") top repeat-x;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.controlpanel-ui ul.nav-bottom.mchat {
  box-shadow: inset 0px 1px 18px rgba(0, 0, 0, 0.2);
}
.controlpanel-ui ul.nav-bottom .sprite {
  margin-left: 8px;
  margin-top: 8px;
}
.controlpanel-ui ul.nav-bottom li {
  float: left;
}
.controlpanel-ui .button-controls {
  margin-left: 49px;
  margin-top: 11px;
}
.controlpanel-ui .button-controls .c-button {
  background: url('../images/dest/c-button-bg.png') no-repeat;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  text-decoration: none;
  height: 19px;
  width: 118px;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  letter-spacing: 0px;
  line-height: 16px;
}
.controlpanel-ui .user {
  color: #000 !important;
}
.controlpanel-ui .username {
  font-size: 14.03px;
  color: #a68485;
  padding: 6px;
  padding-right: 0px;
  cursor: pointer;
  line-height: 45px;
}
.controlpanel-ui .username.mchat {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}
.controlpanel-ui .topic {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  width: 335px;
  height: 24px;
  margin-top: 8px;
  margin-left: 10px;
  position: relative;
}
.controlpanel-ui .topic .inner-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}
.controlpanel-ui .topic input[type="text"] {
  border: none;
  outline: none;
  background: none;
  width: 262px;
  padding: 1px 7px;
  font-size: 14px;
  color: #5e5e5e;
}
.controlpanel-ui .topic .settopic-button {
  background: url("../images/dest/settopic-button-bg.png") repeat-x;
  height: 25px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 53px;
  text-align: center;
  line-height: 24px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.chatsettings-navbar-ui .icon-file {
  background: url('../images/dest/file-icon.png') no-repeat;
  width: 18px;
  height: 23px;
  display: inline-block;
  margin-right: 4px;
  margin-top: 4px;
  position: absolute;
  left: 0px;
}
.chatsettings-navbar-ui .checkbox {
  background: url("../images/dest/checkbox-normal.png") no-repeat;
  width: 19px;
  height: 19px;
  display: inline-block;
  margin-right: 4px;
  margin-top: 6px;
  position: absolute;
  left: 0px;
}
.chatsettings-navbar-ui .checkbox.checked {
  background: url("../images/dest/checkbox-checked.png") no-repeat !important;
}
.chatsettings-navbar-ui ul.navbar-settings {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 155px;
  margin-top: 31px;
}
.chatsettings-navbar-ui ul.navbar-settings li {
  float: left;
}
.chatsettings-navbar-ui ul.navbar-settings li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.7em;
  margin-left: 15px;
  font-weight: normal;
  letter-spacing: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.chatsettings-navbar-ui ul.navbar-settings li a.icon {
  padding-left: 28px;
  display: inline-block;
  position: relative;
  line-height: 32px;
}
.video-ui-widget {
  background: #000;
  width: 320px;
  height: 175px;
}
.video-ui-widget.mchat {
  width: 650px;
  height: 352px;
  margin-left: 1px;
}
.userslist-widget {
  height: 215px;
  margin-top: 2px;
  overflow: hidden;
  float: left;
  width: 164px;
}
.userslist-widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-size: 14px;
}
.userslist-widget ul a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}
.userslist-widget ul a:hover {
  color: #ffad10;
}
.userslist-widget ul.viewport {
  width: 200px;
}
.userslist-widget ul li {
  padding: 2px;
}
#userslist-scrollbar {
  width: 160px;
  height: 200px;
  overflow: hidden;
}
#chatarea-scrollbar {
  width: 734px;
  height: 263px;
  overflow: hidden;
}
#mchatarea-scrollbar {
  width: 429px;
  height: 263px;
  overflow: hidden;
}
.mchat-scrollbar {
  width: 410px;
}
.userlistwidget {
  width: 160px;
  overflow: hidden;
  float: left;
}
.userpreviewwidget {
  width: 156px;
  height: 215px;
  float: left;
  margin-top: 2px;
  background: url("../images/dest/1x1-bg.png") repeat;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.pvt-btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  font-weight: bold;
  font-size: 18px;
}
.premium-pvt-button {
  background: url("../images/dest/normal-private-btn.png") no-repeat;
  width: 301px;
  height: 44px;
  color: #fff;
}
.premium-pvt-button:hover {
  background: url("../images/dest/over-private-btn.png") no-repeat;
}
.premium-pvt-button:active {
  background: url("../images/dest/active-private-btn.png") no-repeat;
}
.pvt-button {
  background: url("../images/dest/normal-private2-btn.png") no-repeat -1px -1px;
  width: 345px;
  height: 45px;
  color: #fff;
}
.pvt-button:hover {
  background: url("../images/dest/over-private2-btn.png") no-repeat -1px -1px;
}
.pvt-button:active {
  background: url("../images/dest/active-private2-btn.png") no-repeat -1px -1px;
}
.send-btn {
  display: inline-block;
  text-decoration: none;
  background: url("../images/dest/send_button_bg.png");
  width: 94px;
  height: 37px;
}
.choosemember {
  color: #ba0101;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: 91px;
  text-align: center;
  display: block;
}
.colorSliderWrapper {
  position: absolute;
  width: 200px;
  bottom: 32px;
  z-index: 100;
  background: #858585;
  padding: 0px;
  padding-top: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #5e5f5f;
}
.colorSliderWrapper #colorSlider {
  width: 200px;
}
.fontChageWrapper {
  position: absolute;
  z-index: 100;
  width: 200px;
  color: #ffffff;
  text-shadow: 0px 0px 1px #000000;
  bottom: 24px;
}
.fontChageWrapper.mchat {
  bottom: 46px;
}
.fontChageWrapper .fontDown {
  padding: 4px 10px;
  display: inline-block;
  text-align: center;
  float: left;
  line-height: 20px;
  background: #3b3b3b;
  font-size: 25px;
  cursor: pointer;
}
.fontChageWrapper .fontUp {
  padding: 4px 10px;
  display: inline-block;
  text-align: center;
  float: left;
  background: #3b3b3b;
  line-height: 20px;
  font-size: 25px;
  cursor: pointer;
}
.fontChageWrapper .cfont {
  padding: 4px 10px;
  display: inline-block;
  text-align: center;
  float: left;
  background: #9f9f9f;
  line-height: 20px;
  font-size: 17px;
  cursor: pointer;
}
.defaulColor {
  width: 20px;
  height: 20px;
  background: #000000;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
  border: 2px solid #fff;
}
.currentColor {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
  border: 2px solid #fff;
}
#changeFont {
  position: absolute;
  right: 35px;
  top: 49px;
}
#msg {
  word-wrap: break-word;
}
.content p {
  display: block;
}
.translate-ui-bar {
  padding: 4px;
}
.translate-ui-bar .tfrom span,
.translate-ui-bar .tto span {
  float: left;
  display: block;
  width: 50px;
  line-height: 31px;
  text-align: right;
  padding-right: 2px;
}
.translate-ui-bar .checkbox {
  background: url("../images/dest/checkbox-normal.png") no-repeat;
  width: 19px;
  height: 19px;
  display: inline-block;
  margin-right: 4px;
  margin-top: 6px;
  position: absolute;
  left: 0px;
}
.translate-ui-bar .checkbox.checked {
  background: url("../images/dest/checkbox-checked.png") no-repeat !important;
}
.translate-ui-bar .from-lang,
.translate-ui-bar .to-lang {
  height: 15px;
  width: 1000px;
  background: #000;
  margin-left: 55px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
}
.translate-ui-bar .to-lang {
  margin-top: 2px;
}
.translate-ui-bar .button-controls {
  margin-left: 40px;
  margin-top: 0px;
}
.translate-ui-bar .button-controls a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.7em;
  margin-left: 15px;
  font-weight: normal;
  letter-spacing: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.translate-ui-bar .button-controls a.icon {
  padding-left: 28px;
  display: inline-block;
  position: relative;
  line-height: 30px;
}
.translate-ui-bar .button-controls .c-button {
  background: url('../images/dest/c-button-bg.png') no-repeat;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  text-decoration: none;
  height: 19px;
  width: 118px;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  letter-spacing: 0px;
  line-height: 16px;
}
